<?xml version="1.0" encoding="UTF-8"?>
<config>

    <computer id="1" name="bi" host="10.60.58.194" 
              user="wuchunguo" pswd="wucg"
              creatdate="2009-06-26">             
        <group id="12" name="g1" creatdate="2009-06-26">
              <task id="13" name="ps" creatdate="2009-06-26" cmd="ps">
              </task>
        </group>
    </computer>
</config>
